.avatar-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 100%; */
}

.avatar-card {
  /* position: relative; */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.7s ease-in-out, top 0.7s ease-in-out;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.8); /* Center and enlarge */
}

.avatar-card.shrink {
  transform: translate(0, 0) scale(1); /* Original position and size */
  transition: transform 0.7s ease-in-out, top 0.7s ease-in-out;
  position: static;
}

.avatar-video-wrapper {
  position: relative;
  width: 450px;
  height: 550px;
}

.video-canvas {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.avatar-video {
  display: none; /* Hide the video element visually */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.avatar-controls {
  position: fixed;
  top: 50px;
  left: 50px;
  display: flex;
  gap: 10px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.connect-btn {
  background-color: #4CAF50;
  color: white;
}

.disconnect-btn {
  background-color: #f44336;
  color: white;
}

.mic-btn, .stop-btn {
  background-color: #ff9800;
  color: white;
}

.btn:hover {
  opacity: 0.8;
  background-color: none !important;
}

.options {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  gap: 10px;
}


.demo-btn {
  background-color: #007bff !important; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.demo-btn:hover {
  background-color: #0056b3 !important; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.continue-btn {
  background-color: #28a745 !important; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.continue-btn:hover {
  background-color: #218838 !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.end-demo{
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  gap: 10px;
}

.end-demo-btn{
  background-color: #be0010 !important; /* Blue color */
  /* color: white; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}